#card-alerta-1 p:first-of-type,
#card-alerta-2 p:first-of-type,
#card-alerta-3 p:first-of-type {
    color: var(--text-black);
    font-weight: bold;
}

#card-alerta-1 p:last-of-type,
#card-alerta-2 p:last-of-type,
#card-alerta-3 p:last-of-type {
    color: var(--text-grey);
}

#card-alerta-1 p,
#card-alerta-2 p,
#card-alerta-3 p {
    text-align: left;
}

#card-alerta-1, #card-alerta-2, #card-alerta-3 {
    box-shadow:none;
    border-radius:10px;
    border-left: 4px solid #D65136 !important;
    border: 1px solid rgba(0, 0, 0, 0.12);
}