#card-alerta-1 p:first-of-type,
#card-alerta-2 p:first-of-type,
#card-alerta-3 p:first-of-type {
    color: var(--text-black);
    font-weight: bold;
}

#card-alerta-1 p:last-of-type,
#card-alerta-2 p:last-of-type,
#card-alerta-3 p:last-of-type {
    color: var(--text-grey);
}

#card-alerta-1 p,
#card-alerta-2 p,
#card-alerta-3 p {
    text-align: left;
}

#card-alerta-1, #card-alerta-2, #card-alerta-3 {
    box-shadow:none;
    border-radius:10px;
    border-left: 4px solid #D65136 !important;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.insights p:first-of-type {
    font-size: 13px;
    color: var(--text-grey);
}

#buttonHiSparkles1,
#buttonHiSparkles2 {
    background-color: #FAFAFA;
    font-size:12px;
    text-transform: none;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: var(--text-black);
    font-weight:bold;
}