.content {
    padding: 32px;
    margin-top: 6rem;
    width: 100%;
    min-height: calc(100vh - 6rem);
    box-sizing: border-box;
    background-color: var(--background-grey, #F5F7FA);
}

.card {
    padding: 32px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 1px rgba(156,156,156,0.61);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(156,156,156,0.61);
    -moz-box-shadow: 0px 3px 5px 1px rgba(156,156,156,0.61);
}

.card .grid > div:first-child > p,
.card .grid > div:first-child > span {
    color: var(--text-grey);
}

.card .grid > div:first-child > p {
    font-size: 15px;
    font-weight: bold;
}