.content {
    padding: 32px;
    margin-top:6rem;
    width: 100%;
}

.card {
    padding: 32px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 1px rgba(156,156,156,0.61);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(156,156,156,0.61);
    -moz-box-shadow: 0px 3px 5px 1px rgba(156,156,156,0.61);
}

.card > p {
    color: var(--text-grey);
}

.card > h5 {
    font-weight: 700;
}