.card .grid {
    display: flex !important;
    align-items: center !important;
}

.card .grid > div:nth-child(2){
    text-align: right;
}

.card h6 {
    font-size:1rem;
    font-weight: bold;
}

.specialGrid {}

.specialGrid button:nth-child(1),
.specialGrid button:nth-child(2) {
    font-size:12px;
    font-weight:bold;
    color: var(--text-black);
    text-transform:none;
    background-color: var(--background-grey);
    border:none;
    border-radius:10px;
    height: 40px;
}

.specialGrid button:nth-child(3) {
    font-size:12px;
    font-weight:bold;
    color: var(--text-white);
    text-transform:none;
    background-color: var(--primary-blue-hover-2);
    border:none;
    border-radius:10px;
    height: 40px;
}

.subcard {
    padding:14px;
    background-color: #FAFAFA !important;
    border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius:0px !important;
}

.subcard > div:first-child {
    padding:10px;
    background-color: var(--background-green);
    border: 1px solid var(--text-green);
}

.subcard > div:first-child p {
    color: var(--text-green);
    font-weight: bold !important;
}

.subcard .subgrid > div {
    background-color: #F5F5F5;
    padding:15px;
    border-radius:10px;
}

.subcard .subgrid > div p:first-child {
    font-weight:bold;
}