.card{
    border-radius: 20px !important;
    border-left-width: 4px !important;
    text-align:left;
}

.card p:nth-child(1){
    font-size:14px;
    color: #828282;
}

.card p:nth-child(2){
    font-size:30px;
    font-weight:bold;
}

.card p:nth-child(3){
    font-size:12px;
    color: #828282;
}