
/* ----- AppBar superior ----- */
.appbar {
  background-color: var(--text-white) !important;
  color: var(--text-black) !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.appbar hr {
  border-width: 1px;
}

.appbar .toolbar {
  flex-direction: column; 
  align-items: flex-start; 
}

.appbar .toolbar h5 {
  font-weight: 700;
}

.appbar .toolbar span {
  color: var(--text-grey);
}

/* ----- Drawer lateral ----- */
.drawer,
.drawer-temporal .MuiDrawer-paper,
.drawer-permanent .MuiDrawer-paper {
  background-color: var(--primary-blue) !important;
  color: var(--text-white) !important;
}

.drawer {
  height: 100%;
}

.main-content {
  position: relative !important;
  width: 100vw !important;
  display: block !important;
  transition: margin-left 0.3s ease !important;
  flex-grow: 1;
  padding: 3;
}

.drawer-permanent {
  box-sizing: 'border-box';
}

.drawer-toolbar {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  height: 80px; 
  padding: 0 1rem;
}

.drawer-toolbar .MuiBox-root {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

/*
.drawer-toolbar {
  display: flex;
  flex-direction: row; 
  align-items: flex-start !important;    
  justify-content: center;
  height: 80px;
  background-color: var(--primary-blue);
  color: white;
  text-align: center;
}*/

.drawer-title-upper {
  text-transform: uppercase;
  font-weight: 700 !important;
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.2;
  text-align: left;
}

.drawer-subtitle {
  font-size: 0.9rem;
  opacity: 0.9;
  margin-top: 2px;
  text-align: left;
}

/* Divider dentro del drawer */
.divider {
  border-color: rgba(255, 255, 255, 0.3) !important;
}

/* Botones del menú */
.menu-button {
  color: var(--text-white) !important;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: var(--primary-blue-hover-2) !important;
}

.menu-button:hover .menu-icon {
  color: var(--primary-blue) !important;
}

.menu-button.selected {
  background-color: var(--primary-blue-hover-2) !important;
}

.menu-button span { 
  font-weight: 700;
}
/* Iconos del menú */
.menu-icon {
  color: var(--text-white) !important;
  justify-content:center;
  min-width: 0px !important;
}
