.suggest-card {
  width: 100%;
  border-radius: 12px;
  border-color: #E0E0E0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.suggest-card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.suggest-card-content:last-child {
  padding-bottom: 20px;
}

.suggest-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
}

.suggest-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff5252;
  font-size: 40px;
}

.suggest-card-chip {
    background-color: #fff9c4 !important;
    color: #8d6e16 !important;
    font-weight: bold !important;
    border-radius: 8px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    font-size: 0.75rem !important;
}

.suggest-card-title {
    font-weight: 800 !important;
    line-height: 1.2 !important;
    margin-bottom: 8px !important;
    color: #2c3e50 !important;
    display: flex;
    align-items: center;
}

.suggest-card-metadata {
    margin-bottom: 16px !important;
    font-weight: 500 !important;
    font-size: 0.85rem !important;
    display: flex;
}

.suggest-card-reason-box {
    display: flex;
    align-items: center;
    background-color: #F5F7FA;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 24px;
    flex-grow: 1;
}

.suggest-card-reason-text {
    color: #455a64 !important;
    font-size: 0.875rem !important;
}

.suggest-card-reason-label {
  font-weight: bold;
}

.suggest-card-reason-content {
  font-style: italic;
}

.suggest-card-button-preview {
  text-transform: none !important;
  font-weight: bold !important;
  background-color: #005bb5 !important;
  font-size: 1rem !important;
  padding-top: 6.4px !important;
  padding-bottom: 6.4px !important;
  border-radius: 8px !important;
}

.suggest-card-button-preview:hover {
  background-color: #004494 !important;
}

.suggest-card-download-container {
  background-color: #eef1f6;
  border-radius: 8px;
  width: 48px;
  flex-shrink: 0;
}

.suggest-card-icon-button {
  width: 100% !important;
  height: 100% !important;
  color: #546e7a !important;
  border-radius: 8px !important;
}
