.suggest-card-list {
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: stretch;
}

.suggest-card-document {
    display: flex;
    flex: 1;
    min-width: 0;
}

@media (max-width: 900px) {
    .suggest-card-list {
        flex-direction: column;
    }
    
    .suggest-card-document {
        width: 100%;
    }
}